body {
  background-color: #f0f0f0;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 50px; /* Adjust this value based on your footer height */
}

body.dark-mode {
  background-color: #1a1a1a;
  color: #f0f0f0;
}

body.dark-mode nav a {
  color: white;
}

body.dark-mode nav a:hover {
  color: #cccccc;
}

/* Navigation styles */
nav {
    background-color: #333;
    padding: 1rem 0;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin: 0 auto;
}

nav a {
    color: #f0f0f0;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: Verdana, sans-serif;
    transition: color 0.3s;
}

nav a:hover {
    color: #cccccc;
}

/* Update dark mode styles for navigation */
body.dark-mode nav {
    background-color: #222;
}

body.dark-mode nav a {
    color: #f0f0f0;
}

body.dark-mode nav a:hover {
    color: #cccccc;
}

/* Add dark mode styles for other elements as needed */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: inherit;
}